
.cartSpan span{
     margin-right: 15px;
}


.cartBtn{
    margin: 2px 0px 0px 28px;
}

.cartBtn p{
    color: red;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}


.priceDetailsStyle{
     background-color: #fff;
}
